{% extends "after_register/message_page.html" %}

{% block message %}
    <p class="text-center" data-letters="OZ"> OZIRIS iGpro </p>
    <h1 class="text-center"><i class="fa fa-check-circle" style="color:#00a817"></i> Your account has been deleted!</h1>

{% endblock %}
