{% load staticfiles %}
{% autoescape off %}
    <table width="350" align="center" border="0" cellpadding="0" cellspacing="0"
           style="font-family:roboto,helvetica neue,helvetica,arial,sans-serif">
        <thead>
        <tr>
            <td height="41" style="text-align:center"></td>
        </tr>
        <tr>
            <td style="text-align:center">
                <img width="150"
                     src="{{ domain }}/static/assets/images/ozirislogo.jpg"
                     alt="iGpro">
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td height="24" style="text-align:center"></td>
        </tr>
        <tr>
            <td style="text-align:center">
                <span style="color:#ba6666;font-family:roboto,helvetica neue,helvetica,arial,sans-serif;font-size:16px;line-height:21px">Hi, {{ user.first_name }},</span>
            </td>
        </tr>
        <tr>
            <td style="text-align:center">
                <span style="font-family:roboto,helvetica neue,helvetica,arial,sans-serif;font-size:16px;color:#505050;line-height:21px">Please click on the link to confirm your registration, </span>
            </td>
        </tr>
        <tr>
            <td height="40" style="text-align:center"></td>
        </tr>
        <tr>
            <td style="text-align:center">
                <a href="{{ domain }}{% url 'activate' uidb64=uid token=token %}"
                   style="border:none;color:#fff;background:#ba6666;padding:10px;display:block;font-size:16px;border-radius:360px;text-decoration:none"
                   target="_blank"
                   data-saferedirecturl="https://www.google.com/url?q={{ domain }}{% url 'activate' uidb64=uid token=token %}">Activate</a>
            </td>
        </tr>
        <tr>
            <td height="40" style="text-align:center"></td>
        </tr>
        <tr>
            <td style="text-align:center">
                <span style="font-size:11px;font-family:roboto,helvetica neue,helvetica,arial,sans-serif;color:#505050;line-height:12px"> If you think, this message is received by mistake, then <a
                        style="color:#ba6666"
                        href="{{ domain }}{% url 'deactivate' uidb64=uid token=token %}"
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q={{ domain }}{% url 'deactivate' uidb64=uid token=token %}">sign out</a> </span>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td height="30" style="text-align:center"></td>
        </tr>
        <tr>
            <td height="10" style="border-top:1px solid #ba6666;text-align:center"></td>
        </tr>
        <tr>
            <td style="text-align:center">
                <span style="font-size:9px;font-family:roboto,helvetica neue,helvetica,arial,sans-serif;color:#505050;line-height:12px"> iGpro from Oziris Gpro Team </span>
            </td>
        </tr>
        </tfoot>
    </table>
{% endautoescape %}
