{% extends "after_register/message_page.html" %}

{% block message %}

<div class="lds-ripple" id="loading-spinner">
        <div></div>
        <div></div>
    </div>
    <div id="loading-info"></div>

    <script>
    let task_id = '{{ task_id }}';
    let spinner = $('#loading-spinner');
    let send_button = $('#button-id-send');
    let loading_info = $('#loading-info');
    let gpro_auth_info = '{% url "gpro-auth-info" %}';
    let gpro_auth_validation = '{% url "gpro-auth-validation" %}';

    loading_info.hide();
    send_button.on("click", get_task_info(task_id));

    function get_task_info(task_id) {

        $.ajax({
            type: 'get',
            url: `${gpro_auth_info}?task_id={{ task_id }}`,
            success: function (data) {
                loading_info.show();
                if (data.state === 'PENDING') {
                    loading_info.html('Please wait...');
                }
                else if (data.state === 'PROGRESS') {
                    if (data.result.status === "requested") {
                        loading_info.html("Requesting GPRO website")
                    }
                    else if (data.result.status === "ok") {
                        loading_info.html("GPRO website rendered")
                    }
                }
                if (data.state === 'FINISHED') {
                    if (data.result.status === 'unsuccessful') {
                        loading_info.html("Redirecting....")
                        validate(task_id)
                    }
                    else if (data.result.status === 'successful') {
                        loading_info.html("Redirecting....")
                        validate(task_id)
                    }
                }
                if (data.state !== 'FINISHED') {
                    setTimeout(function () {
                        get_task_info(task_id)
                    }, 50);
                }
            },
            error: function (data) {
                loading_info.show();
                loading_info.html("Something went wrong!");
            }
        });
    }

    function validate(task_id) {
        window.location.assign(`${gpro_auth_validation}?task_id={{ task_id }}`);
    }
    </script>

{% endblock %}