{% extends "after_register/message_page.html" %}

{% block message %}
    <p class="text-center" data-letters="OZ"> OZIRIS iGpro </p>
    <h1 class="text-center"><i class="fa fa-times-circle" style="color:#a80000"></i> Deactivation link is invalid!</h1>

{% endblock %}
