{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>iGPRO - Register</title>


    <!--[if lt IE 11]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description"
          content="iGPRO"/>
    <meta name="keywords"
          content="iGPRO, grandprix, gpro, f1, formula, online, game">
    <meta name="author" content="OZIRIS"/>

    <link rel="icon" href="{% static "assets/images/favicon.ico" %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static "assets/fonts/fontawesome/css/fontawesome-all.min.css" %}">

    <link rel="stylesheet" href="{% static "assets/plugins/animation/css/animate.min.css" %}">

    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/custom.css" %}">
    <link rel="stylesheet" href="{% static "assets/plugins/pnotify/css/pnotify.custom.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/pages/pnotify.css" %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>

<body>
<div class="auth-wrapper">
    <div class="auth-content container">
        <div class="card">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="card-body">
                        {% block message %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static "assets/js/vendor-all.min.js" %}"></script>
<script src="{% static "assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script>


<script src="{% static "assets/plugins/pnotify/js/pnotify.custom.min.js" %}"></script>
<script src="{% static "assets/plugins/pnotify/js/notify-event.js" %}"></script>

<script>
    var stack_top_left = {"dir1": "down", "dir2": "right", "push": "top"};
    function notify_left(type, message) {
        var opts = {
            title: message,
            addclass: "stack-top-left bg-primary",
            stack: stack_top_left
        };
        switch (type) {
            case 'error':
            opts.addclass = "stack-top-left bg-danger";
            opts.type = "error";
            break;

            case 'info':
            opts.addclass = "stack-top-left bg-info";
            opts.type = "info";
            break;

            case 'success':
            opts.addclass = "stack-top-left bg-success";
            opts.type = "success";
            break;
        }
        new PNotify(opts);
    }
    {% if messages %}
        {% for message in messages %}
            let message = '{{ message }}';
            let message_tags = '{{ message.tags }}'
            notify_left(message_tags, message);
        {% endfor %}
    {% endif %}
</script>

</body>
</html>
