{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>iGPRO - Login</title>


    <!--[if lt IE 11]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description"
          content="iGPRO"/>
    <meta name="keywords"
          content="iGPRO, grandprix, gpro, f1, formula, online, game">
    <meta name="author" content="OZIRIS"/>

    <link rel="icon" href="{% static "assets/images/favicon.ico" %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static "assets/fonts/fontawesome/css/fontawesome-all.min.css" %}">

    <link rel="stylesheet" href="{% static "assets/plugins/animation/css/animate.min.css" %}">

    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/custom.css" %}">
</head>

<body>
<div class="auth-wrapper">
    <div class="auth-content container">
        <div class="card">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="card-body">
                        {% if form.errors %}
                            <p>Your username and password didn't match. Please try again.</p>
                        {% endif %}
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <p data-letters="OZ"> OZIRIS iGpro </p>
                            <h4 class="mb-3 f-w-400">Login into your account</h4>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="feather icon-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Username or email address"
                                       name="username">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="feather icon-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Password" name="password">
                            </div>
                            {#                        <div class="form-group text-left mt-2">#}
                            {#                            <div class="checkbox checkbox-primary d-inline">#}
                            {#                                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">#}
                            {#                                <label for="checkbox-fill-a1" class="cr"> Save credentials</label>#}
                            {#                            </div>#}
                            {#                        </div>#}
                            <div class="mt-2">
                                <button class="btn btn-primary mb-4" value="login">Login</button>
                                <input type="hidden" name="next" value="{{ next }}"/>
                            </div>
                        </form>
                        <p class="mb-2 text-muted">Forgot password? <a href="auth-reset-password.html" class="f-w-400">Reset</a>
                        </p>
                        <p class="mb-0 text-muted">Don’t have an account? <a href="{% url 'register' %}"
                                                                             class="f-w-400">Signup</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block">
                    <div class="blur-image"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static "assets/js/vendor-all.min.js" %}"></script>
<script src="{% static "assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script>

</body>
</html>
