{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>iGPRO - Register</title>


    <!--[if lt IE 11]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description"
          content="iGPRO"/>
    <meta name="keywords"
          content="iGPRO, grandprix, gpro, f1, formula, online, game">
    <meta name="author" content="OZIRIS"/>

    <link rel="icon" href="{% static "assets/images/favicon.ico" %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static "assets/fonts/fontawesome/css/fontawesome-all.min.css" %}">

    <link rel="stylesheet" href="{% static "assets/plugins/animation/css/animate.min.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "assets/css/pages/new-signup/base.css" %}"/>

    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/custom.css" %}">
</head>

<body>
<div class="auth-wrapper aut-bg-img-side cotainer-fiuid align-items-stretch">
    <div class="row align-items-center w-100 align-items-stretch bg-white">
        <div class="d-none d-lg-flex col-md-8 aut-bg-img d-md-flex justify-content-center content content--side">
            <div class="poster" style="background-image:url(/static/assets/images/register_background.png)"></div>
            <div class="canvas-wrap">
                <canvas></canvas>
            </div>
        </div>
        <div class="col-md-4 align-items-stret h-100 ad-flex justify-content-center content content--side px-5">
            <div class="head-block">
                <p data-letters="OZ"> OZIRIS iGpro </p>
                <h4 class="mb-3 f-w-400">Create a account</h4>
            </div>
            {% load crispy_forms_tags %}
            {% crispy form form.helper %}
            <p class="mb-0 text-muted">I already have an account! <a href="{% url 'login' %}" class="f-w-400">Login</a>
        </p>
        </div>
    </div>
</div>


<script src="{% static "assets/js/pages/new-signup/imagesloaded.pkgd.min.js" %}"></script>
<script src="{% static "assets/js/pages/new-signup/zxcvbn.js" %}"></script>
<script src="{% static "assets/js/pages/new-signup/demo1.js" %}"></script>

<script src="{% static "assets/js/vendor-all.min.js" %}"></script>
<script src="{% static "assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script>

</body>
</html>
