<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5>Home</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i
                            class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="index.html#!">Analytics Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>