{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Elite Able - Most Trusted Admin Template</title>


    <!--[if lt IE 11]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description"
          content="iGPRO"/>
    <meta name="keywords"
          content="iGPRO, grandprix, gpro, f1, formula, online, game">
    <meta name="author" content="OZIRIS"/>

    <link rel="icon" href="{% static "assets/images/favicon.ico" %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static "assets/fonts/fontawesome/css/fontawesome-all.min.css" %}">

    <link rel="stylesheet" href="{% static "assets/plugins/animation/css/animate.min.css" %}">

    <link rel="stylesheet" href="{% static "assets/plugins/notification/css/notification.min.css" %}">

    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">
</head>
<body class="">

{% block sidebar %}
    {% include "dashboard/blocks/sidebar.html" %}
{% endblock %}

{% block navbar %}
    {% include "dashboard/blocks/navbar.html" %}
{% endblock %}
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        {% block header %}
                            {% include "dashboard/blocks/header.html" %}
                        {% endblock %}
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static "assets/js/vendor-all.min.js" %}"></script>
<script src="{% static "assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "assets/js/pcoded.min.js" %}"></script>

<script src="{% static "assets/plugins/chart-am4/js/core.js" %}"></script>
<script src="{% static "assets/plugins/chart-am4/js/charts.js" %}"></script>
<script src="{% static "assets/plugins/chart-am4/js/animated.js" %}"></script>
<script src="{% static "assets/plugins/chart-am4/js/maps.js" %}"></script>
<script src="{% static "assets/plugins/chart-am4/js/worldLow.js" %}"></script>
<script src="{% static "assets/plugins/chart-am4/js/continentsLow.js" %}"></script>

<script src="{% static "assets/js/pages/dashboard-analytics.js" %}"></script>

</body>
</html>