<nav class="pcoded-navbar menupos-fixed ">
    <div class="navbar-wrapper ">
        <div class="navbar-brand header-logo">
            <a href="index.html" class="b-brand">
                <div class="b-bg">
                    E
                </div>
                <span class="b-title">Elite Able</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="index.html#!"><span></span></a>
        </div>
        <div class="navbar-content scroll-div   ">
            <ul class="nav pcoded-inner-navbar ">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="dashboard default ecommerce sales Helpdesk ticket CRM analytics crypto project"
                    class="nav-item pcoded-hasmenu">
                    <a href="index.html#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Dashboard</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="index.html" class="">Analytics</a></li>
                        <li class=""><a href="dashboard-sale.html" class="">Sales</a></li>
                        <li class=""><a href="dashboard-crypto.html" class="">Crypto</a></li>
                        <li class=""><a href="dashboard-project.html" class="">Project</a></li>
                        <li class=""><a href="dashboard-help.html" class="">Helpdesk<span
                                class="pcoded-badge label label-danger">NEW</span></a></li>
                    </ul>
                </li>
                <li data-username="vertical horizontal box layout RTL fixed static collapse menu color icon dark background image"
                    class="nav-item pcoded-hasmenu">
                    <a href="index.html#!" class="nav-link"><span class="pcoded-micon"><i
                            class="feather icon-layout"></i></span><span class="pcoded-mtext">Page layouts</span></a>
                    <ul class="pcoded-submenu">
                        <li class="pcoded-hasmenu"><a href="index.html#!" class="">Vertical</a>
                            <ul class="pcoded-submenu">
                                <li class=""><a href="layout-static.html" class="" target="_blank">Static</a></li>
                                <li class=""><a href="layout-fixed.html" class="" target="_blank">Fixed</a></li>
                                <li class=""><a href="layout-menu-fixed.html" class="" target="_blank">Navbar fixed</a>
                                </li>
                                <li class=""><a href="layout-mini-menu.html" class="" target="_blank">Collapse menu</a>
                                </li>
                                <li class=""><a href="layout-navbg.html" class="" target="_blank">Navbar imagebg</a>
                                </li>
                            </ul>
                        </li>
                        <li class=""><a href="layout-horizontal.html" class="" target="_blank">Horizontal</a></li>
                        <li class=""><a href="layout-horizontal-1.html" class="" target="_blank">Horizontal v1</a></li>
                        <li class=""><a href="layout-horizontal-2.html" class="" target="_blank">Horizontal v2</a></li>
                        <li class=""><a href="layout-box.html" class="" target="_blank">Box layout</a></li>
                        <li class=""><a href="layout-rtl.html" class="" target="_blank">RTL</a></li>
                        <li class=""><a href="layout-light.html" class="" target="_blank">Light layout</a></li>
                        <li class=""><a href="layout-dark.html" class="" target="_blank">Dark layout <span
                                class="pcoded-badge label label-danger">Hot</span></a></li>
                        <li class=""><a href="layout-menu-icon.html" class="" target="_blank">Color icon</a></li>
                    </ul>
                </li>
                <li data-username="widget statistic data chart" class="nav-item pcoded-hasmenu">
                    <a href="index.html#!" class="nav-link"><span class="pcoded-micon"><i
                            class="feather icon-layers"></i></span><span class="pcoded-mtext">Widget</span><span
                            class="pcoded-badge label label-success">100+</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="widget-statistic.html" class="">Statistic</a></li>
                        <li class=""><a href="widget-data.html" class="">Data</a></li>
                        <li class=""><a href="widget-chart.html" class="">Chart</a></li>
                    </ul>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>UI Element</label>
                </li>
                <li data-username="basic components button alert badges breadcrumb paggination progress tooltip popovers carousel cards collapse tabs pills modal spinner grid system toasts typography extra shadows embeds"
                    class="nav-item pcoded-hasmenu">
                    <a href="index.html#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span
                            class="pcoded-mtext">Basic</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="bc_alert.html" class="">Alert</a></li>
                        <li class=""><a href="bc_button.html" class="">Button</a></li>
                        <li class=""><a href="bc_badges.html" class="">Badges</a></li>
                        <li class=""><a href="bc_breadcrumb-pagination.html" class="">Breadcrumb & paggination</a></li>
                        <li class=""><a href="bc_card.html" class="">Cards</a></li>
                        <li class=""><a href="bc_collapse.html" class="">Collapse</a></li>
                        <li class=""><a href="bc_carousel.html" class="">Carousel</a></li>
                        <li class=""><a href="bc_grid.html" class="">Grid system</a></li>
                        <li class=""><a href="bc_progress.html" class="">Progress</a></li>
                        <li class=""><a href="bc_modal.html" class="">Modal</a></li>
                        <li class=""><a href="bc_spinner.html" class="">Spinner<span
                                class="pcoded-badge label label-danger">NEW</span></a></li>
                        <li class=""><a href="bc_tabs.html" class="">Tabs & pills</a></li>
                        <li class=""><a href="bc_typography.html" class="">Typography</a></li>
                        <li class=""><a href="bc_tooltip-popover.html" class="">Tooltip & popovers</a></li>
                        <li class=""><a href="bc_toasts.html" class="">Toasts<span
                                class="pcoded-badge label label-danger">NEW</span></a></li>
                        <li class=""><a href="bc_extra.html" class="">Other</a></li>
                    </ul>
                </li>
                <li data-username="advance components alert gridstack lightbox modal notification pnotify rating rangeslider slider syntax highlighter tour User card Timeline tree view nestable toolbar"
                    class="nav-item pcoded-hasmenu">
                    <a href="index.html#!" class="nav-link"><span class="pcoded-micon"><i
                            class="feather icon-gitlab"></i></span><span class="pcoded-mtext">Advance</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="ac_alert.html" class="">Sweet alert</a></li>
                        <li class=""><a href="ac-datepicker-componant.html" class="">Datepicker</a></li>
                        <li class=""><a href="ac_gridstack.html" class="">Gridstack</a></li>
                        <li class=""><a href="ac_lightbox.html" class="">Lightbox</a></li>
                        <li class=""><a href="ac_modal.html" class="">Modal</a></li>
                        <li class=""><a href="ac_notification.html" class="">Notification</a></li>
                        <li class=""><a href="ac_nestable.html" class="">Nestable</a></li>
                        <li class=""><a href="ac_pnotify.html" class="">Pnotify</a></li>
                        <li class=""><a href="ac_rating.html" class="">Rating</a></li>
                        <li class=""><a href="ac_rangeslider.html" class="">Rangeslider</a></li>
                        <li class=""><a href="ac_slider.html" class="">Slider</a></li>
                        <li class=""><a href="ac_syntax_highlighter.html" class="">Syntax highlighter</a></li>
                        <li class=""><a href="ac_tour.html" class="">Tour</a></li>
                        <li class=""><a href="ac_treeview.html" class="">Tree view</a></li>
                        <li class=""><a href="ac_toolbar.html" class="">Toolbar</a></li>
                        <li class=""><a href="ac_usercard.html" class="">User card</a></li>
                        <li class=""><a href="timeline.html" class="">Timeline</a></li>
                    </ul>
                </li>
                <li data-username="extra components session timeout session idle timeout offline"
                    class="nav-item pcoded-hasmenu">
                    <a href="index.html#!" class="nav-link"><span class="pcoded-micon"><i
                            class="feather icon-package"></i></span><span class="pcoded-mtext">Extra</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="ec-session-timeout.html" class="">Session timeout</a></li>
                        <li class=""><a href="ec-session-idle-timeout.html" class="">Session idle timeout</a></li>
                        <li class=""><a href="ec-offline.html" class="">Offline</a></li>
                    </ul>
                </li>
                <li data-username="animations" class="nav-item"><a href="animation.html" class="nav-link"><span
                        class="pcoded-micon"><i class="feather icon-aperture"></i></span><span class="pcoded-mtext">Animations</span></a>
                </li>
                <li data-username="icons feather fontawsome flag material simple line themify"
                    class="nav-item pcoded-hasmenu">
                    <a href="index.html#!" class="nav-link"><span class="pcoded-micon"><i
                            class="feather icon-feather"></i></span><span class="pcoded-mtext">Icons</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="icon-feather.html" class="">Feather<span
                                class="pcoded-badge label label-danger">NEW</span></a></li>
                        <li class=""><a href="icon-fontawsome.html" class="">Font Awesome 5<span
                                class="pcoded-badge label label-primary">1000+</span></a></li>
                        <li class=""><a href="icon-flag.html" class="">Flag</a></li>
                        <li class=""><a href="icon-material.html" class="">Material</a></li>
                        <li class=""><a href="icon-simple-line.html" class="">Simple line</a></li>
                        <li class=""><a href="icon-themify.html" class="">Themify</a></li>
                    </ul>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Forms</label>
                </li>
                <li data-username="form elements advance componant validation masking wizard picker select"
                    class="nav-item pcoded-hasmenu">
                    <a href="index.html#!" class="nav-link"><span class="pcoded-micon"><i
                            class="feather icon-file-text"></i></span><span class="pcoded-mtext">Forms</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="form_elements.html" class="">Form elements</a></li>
                        <li class=""><a href="form-elements-advance.html" class="">Form advance</a></li>
                        <li class=""><a href="form-validation.html" class="">Form validation</a></li>
                        <li class=""><a href="form-masking.html" class="">Form masking</a></li>
                        <li class=""><a href="form-wizard.html" class="">Form wizard</a></li>
                        <li class=""><a href="form-picker.html" class="">Form picker</a></li>
                        <li class=""><a href="form-select.html" class="">Form select</a></li>
                    </ul>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>table</label>
                </li>
                <li data-username="table basic sizing border styling" class="nav-item pcoded-hasmenu">
                    <a href="index.html#!" class="nav-link"><span class="pcoded-micon"><i
                            class="feather icon-align-justify"></i></span><span
                            class="pcoded-mtext">Bootstrap table</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="tbl_bootstrap.html" class="">Basic table</a></li>
                        <li class=""><a href="tbl_sizing.html" class="">Sizing table</a></li>
                        <li class=""><a href="tbl_border.html" class="">Border table</a></li>
                        <li class=""><a href="tbl_styling.html" class="">Styling table</a></li>
                    </ul>
                </li>
                <li data-username="table basic advance styling api ajax server plugin data sources"
                    class="nav-item pcoded-hasmenu">
                    <a href="index.html#!" class="nav-link"><span class="pcoded-micon"><i
                            class="feather icon-package"></i></span><span class="pcoded-mtext">Data table</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="dt_basic.html" class="">Basic initialization</a></li>
                        <li class=""><a href="dt_advance.html" class="">Advance initialization</a></li>
                        <li class=""><a href="dt_styling.html" class="">Styling</a></li>
                        <li class=""><a href="dt_api.html" class="">API</a></li>
                        <li class=""><a href="dt_ajax.html" class="">Ajax</a></li>
                        <li class=""><a href="dt_serverside.html" class="">Server side</a></li>
                        <li class=""><a href="dt_plugin.html" class="">Plug-in</a></li>
                        <li class=""><a href="dt_sources.html" class="">Data sources</a></li>
                    </ul>
                </li>
                <li data-username="table extensions autofill basic data export col reorder fixed columns header key responsive row scroller select"
                    class="nav-item pcoded-hasmenu">
                    <a href="index.html#!" class="nav-link"><span class="pcoded-micon"><i
                            class="feather icon-server"></i></span><span class="pcoded-mtext">DT extensions</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="dt_ext_autofill.html" class="">Autofill</a></li>
                        <li class="nav-item pcoded-hasmenu">
                            <a href="index.html#!" class="nav-link"><span class="pcoded-mtext">Button</span></a>
                            <ul class="pcoded-submenu">
                                <li class=""><a href="dt_ext_basic_buttons.html" class="">Basic button</a></li>
                                <li class=""><a href="dt_ext_export_buttons.html" class="">Data export</a></li>
                            </ul>
                        </li>
                        <li class=""><a href="dt_ext_col_reorder.html" class="">Col reorder</a></li>
                        <li class=""><a href="dt_ext_fixed_columns.html" class="">Fixed columns</a></li>
                        <li class=""><a href="dt_ext_fixed_header.html" class="">Fixed header</a></li>
                        <li class=""><a href="dt_ext_key_table.html" class="">Key table</a></li>
                        <li class=""><a href="dt_ext_responsive.html" class="">Responsive</a></li>
                        <li class=""><a href="dt_ext_row_reorder.html" class="">Row reorder</a></li>
                        <li class=""><a href="dt_ext_scroller.html" class="">Scroller</a></li>
                        <li class=""><a href="dt_ext_select.html" class="">Select table</a></li>
                    </ul>
                </li>
                <li data-username="table editable" class="nav-item"><a href="editable_table.html" class="nav-link"><span
                        class="pcoded-micon"><i class="feather icon-grid"></i></span><span class="pcoded-mtext">Editable table</span></a>
                </li>
                <li data-username="table foo" class="nav-item"><a href="tbl_foo.html" class="nav-link"><span
                        class="pcoded-micon"><i class="feather icon-list"></i></span><span class="pcoded-mtext">Foo table</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Chart & Maps</label>
                </li>
                <li data-username="charts am chart amChart js echart google highchart knob morris nvd3 peity radial"
                    class="nav-item pcoded-hasmenu">
                    <a href="index.html#!" class="nav-link"><span class="pcoded-micon"><i
                            class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Chart</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="chart-am.html" class="">amChart 4</a></li>
                        <li class=""><a href="chart-chartjs.html" class="">Chart js</a></li>
                        <li class=""><a href="chart-echart.html" class="">Echart</a></li>
                        <li class=""><a href="chart-google.html" class="">Google</a></li>
                        <li class=""><a href="chart-highchart.html" class="">Highchart</a></li>
                        <li class=""><a href="chart-knob.html" class="">Knob</a></li>
                        <li class=""><a href="chart-morris.html" class="">Morris</a></li>
                        <li class=""><a href="chart-nvd3.html" class="">Nvd3</a></li>
                        <li class=""><a href="chart-peity.html" class="">Peity</a></li>
                        <li class=""><a href="chart-radial.html" class="">Radial</a></li>
                    </ul>
                </li>
                <li data-username="maps google vector google map search api location" class="nav-item pcoded-hasmenu">
                    <a href="index.html#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-map"></i></span><span
                            class="pcoded-mtext">Maps</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="map-google.html" class="">Google</a></li>
                        <li class=""><a href="map-vector.html" class="">Vector</a></li>
                        <li class=""><a href="map-api.html" class="">Gmap search API</a></li>
                        <li class=""><a href="map-location.html" class="">Location</a></li>
                    </ul>
                </li>
                <li data-username="landing page" class="nav-item"><a href="extra-pages/landingpage/index.html"
                                                                     class="nav-link" target="_blank"><span
                        class="pcoded-micon"><i class="feather icon-navigation-2"></i></span><span class="pcoded-mtext">Landing page</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Pages</label>
                </li>
                <li data-username="authentication sign up sign in reset password change password personal information profile settings map form subscribe"
                    class="nav-item pcoded-hasmenu">
                    <a href="index.html#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span
                            class="pcoded-mtext">Authentication</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="auth-signup.html" class="" target="_blank">Sign up</a></li>
                        <li class=""><a href="auth-signup1.html" class="" target="_blank">Sign up v2<span
                                class="pcoded-badge label label-primary">New</span></a></li>
                        <li class=""><a href="auth-signin.html" class="" target="_blank">Sign in</a></li>
                        <li class=""><a href="auth-signin-img-side.html" class="" target="_blank">Sign in v2<span
                                class="pcoded-badge label label-primary">New</span></a></li>
                        <li class=""><a href="auth-signin-img-slider.html" class="" target="_blank">Sign in v3<span
                                class="pcoded-badge label label-primary">New</span></a></li>
                        <li class=""><a href="auth-signin-img-slider2.html" class="" target="_blank">Sign in v4<span
                                class="pcoded-badge label label-primary">New</span></a></li>
                        <li class=""><a href="auth-signin-img-tabs.html" class="" target="_blank">Sign in v5<span
                                class="pcoded-badge label label-primary">New</span></a></li>
                        <li class=""><a href="auth-reset-password.html" class="" target="_blank">Reset password</a></li>
                        <li class=""><a href="auth-change-password.html" class="" target="_blank">Change password</a>
                        </li>
                        <li class=""><a href="auth-profile-settings.html" class="" target="_blank">Profile settings</a>
                        </li>
                    </ul>
                </li>
                <li data-username="Maintenance Error offline ui" class="nav-item pcoded-hasmenu">
                    <a href="index.html#!" class="nav-link"><span class="pcoded-micon"><i
                            class="feather icon-sliders"></i></span><span class="pcoded-mtext">Maintenance</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="maint-error.html" class="">Error</a></li>
                        <li class=""><a href="maint-offline-ui.html" class="" target="_blank">Offline UI</a></li>
                    </ul>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>App</label>
                </li>
                <li data-username="message" class="nav-item"><a href="message.html" class="nav-link"><span
                        class="pcoded-micon"><i class="feather icon-message-circle"></i></span><span
                        class="pcoded-mtext">Message</span></a></li>
                <li data-username="Email inbox read mail compose" class="nav-item pcoded-hasmenu">
                    <a href="index.html#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-mail"></i></span><span
                            class="pcoded-mtext">Email</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="email_inbox.html" class="">Inbox</a></li>
                        <li class=""><a href="email_read.html" class="">Read mail</a></li>
                        <li class=""><a href="email_compose.html" class="">Compose mail</a></li>
                    </ul>
                </li>
                <li data-username="task list board details" class="nav-item pcoded-hasmenu">
                    <a href="index.html#!" class="nav-link"><span class="pcoded-micon"><i
                            class="feather icon-clipboard"></i></span><span class="pcoded-mtext">Task</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="task-list.html" class="">List</a></li>
                        <li class=""><a href="task-board.html" class="">Board</a></li>
                        <li class=""><a href="task-detail.html" class="">Detail</a></li>
                    </ul>
                </li>
                <li data-username="to-do notes" class="nav-item pcoded-hasmenu">
                    <a href="index.html#!" class="nav-link"><span class="pcoded-micon"><i
                            class="feather icon-check-square"></i></span><span class="pcoded-mtext">To-Do</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="todo.html" class="">To-Do</a></li>
                        <li class=""><a href="notes.html" class="">Notes</a></li>
                    </ul>
                </li>
                <li data-username="gallery grid masonry advance" class="nav-item pcoded-hasmenu">
                    <a href="index.html#!" class="nav-link"><span class="pcoded-micon"><i
                            class="feather icon-image"></i></span><span class="pcoded-mtext">Gallery</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="gallery-grid.html" class="">Grid</a></li>
                        <li class=""><a href="gallery-masonry.html" class="">Masonry</a></li>
                        <li class=""><a href="gallery-advance.html" class="">Advance</a></li>
                    </ul>
                </li>
                <li data-username="search1 search2 search2" class="nav-item pcoded-hasmenu">
                    <a href="index.html#!" class="nav-link"><span class="pcoded-micon"><i
                            class="feather icon-search"></i></span><span class="pcoded-mtext">Search<span
                            class="pcoded-badge label label-info">NEW</span></span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="search1.html" class="">Search1</a></li>
                        <li class=""><a href="search2.html" class="">Search2</a></li>
                        <li class=""><a href="search3.html" class="">Search3</a></li>
                    </ul>
                </li>
                <li data-username="Helpdesk Customer list dashboard detail Ticket" class="nav-item pcoded-hasmenu">
                    <a href="index.html#!" class="nav-link"><span class="pcoded-micon"><i
                            class="feather icon-help-circle"></i></span><span class="pcoded-mtext">Helpdesk<span
                            class="pcoded-badge label label-success">NEW</span></span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="hd-help-desk.html" class="">Helpdesk dashboard</a></li>
                        <li class=""><a href="hd-dashboard.html" class="">Customer dashboard</a></li>
                        <li class=""><a href="hd-cust-list.html" class="">Customer list</a></li>
                        <li class=""><a href="hd-detail.html" class="">Customer detail</a></li>
                        <li class=""><a href="hd-new-ticket.html" class="">Ticket</a></li>
                    </ul>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Extension</label>
                </li>
                <li data-username="editor ck-editor tinemce" class="nav-item pcoded-hasmenu">
                    <a href="index.html#!" class="nav-link"><span class="pcoded-micon"><i
                            class="feather icon-file-plus"></i></span><span class="pcoded-mtext">Editor</span></a>
                    <ul class="pcoded-submenu">
                        <li class="pcoded-hasmenu">
                            <a href="index.html#!" class="">CK editor</a>
                            <ul class="pcoded-submenu">
                                <li class=""><a href="editor-classic.html" class="">Classic</a></li>
                                <li class=""><a href="editor-balloon.html" class="">Balloon</a></li>
                                <li class=""><a href="editor-inline.html" class="">Inline</a></li>
                                <li class=""><a href="editor-document.html" class="">Document</a></li>
                            </ul>
                        </li>
                        <li class=""><a href="editor-tinymce.html" class="">Tinymce editor</a></li>
                    </ul>
                </li>
                <li data-username="invoice summury list" class="nav-item pcoded-hasmenu">
                    <a href="index.html#!" class="nav-link"><span class="pcoded-micon"><i
                            class="feather icon-file-minus"></i></span><span class="pcoded-mtext">Invoice</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="invoice.html" class="">Invoice</a></li>
                        <li class=""><a href="invoice-summary.html" class="">Invoice summary</a></li>
                        <li class=""><a href="invoice-list.html" class="">Invoice list</a></li>
                    </ul>
                </li>
                <li data-username="full calendar" class="nav-item"><a href="full-calendar.html" class="nav-link"><span
                        class="pcoded-micon"><i class="feather icon-calendar"></i></span><span class="pcoded-mtext">Full calendar</span></a>
                </li>
                <li data-username="file upload" class="nav-item"><a href="file-upload.html" class="nav-link"><span
                        class="pcoded-micon"><i class="feather icon-upload-cloud"></i></span><span class="pcoded-mtext">File upload</span></a>
                </li>
                <li data-username="image cropper" class="nav-item"><a href="image_crop.html" class="nav-link"><span
                        class="pcoded-micon"><i class="feather icon-scissors"></i></span><span class="pcoded-mtext">Image cropper</span></a>
                </li>
                <li data-username="grid animation" class="nav-item"><a href="grid-animation.html" class="nav-link"><span
                        class="pcoded-micon"><i class="feather icon-globe"></i></span><span class="pcoded-mtext">Grid animation</span><span
                        class="pcoded-badge label label-info">NEW</span></a></li>
                <li data-username="minimal form" class="nav-item"><a href="minimal-form.html" class="nav-link"><span
                        class="pcoded-micon"><i class="feather icon-book"></i></span><span class="pcoded-mtext">Minimal form</span><span
                        class="pcoded-badge label label-danger">NEW</span></a></li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Other</label>
                </li>
                <li data-username="menu levels menu level 2.1 menu level 2.2" class="nav-item pcoded-hasmenu">
                    <a href="index.html#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span
                            class="pcoded-mtext">Menu levels</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="index.html#" class="">Menu Level 2.1</a></li>
                        <li class="pcoded-hasmenu">
                            <a href="index.html#" class="">Menu level 2.2</a>
                            <ul class="pcoded-submenu">
                                <li class=""><a href="index.html#" class="">Menu level 3.1</a></li>
                                <li class=""><a href="index.html#" class="">Menu level 3.2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li data-username="disabled menu" class="nav-item disabled"><a href="index.html#!"
                                                                               class="nav-link"><span
                        class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Disabled menu</span></a>
                </li>
                <li data-username="sample page" class="nav-item"><a href="sample-page.html" class="nav-link"><span
                        class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample page</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Support</label>
                </li>
                <li data-username="documentation" class="nav-item"><a href="../doc/index.html" class="nav-link"
                                                                      target="_blank"><span class="pcoded-micon"><i
                        class="feather icon-book"></i></span><span class="pcoded-mtext">Documentation</span></a></li>
                <li data-username="need support" class="nav-item"><a href="https://phoenixcoded.ticksy.com"
                                                                     class="nav-link" target="_blank"><span
                        class="pcoded-micon"><i class="feather icon-help-circle"></i></span><span class="pcoded-mtext">Need
support ?</span></a></li>
            </ul>
            <div class="card text-center">
                <div class="card-block">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="feather icon-sunset f-40"></i>
                    <h6 class="mt-3">Upgrade to pro</h6>
                    <p>upgrade for get full themes and 30min support</p>
                    <a href="index.html#!" target="_blank" class="btn btn-gradient-primary btn-sm text-white m-0">Upgrade</a>
                </div>
            </div>
        </div>
    </div>
</nav>